:root {
  --scrollbar-width: 5px;
  --scrollbar-height: 5px;
  --scrollbar-hover-zone-size: 16px;
  --scrollbar-hover-scale: 3;
  --scrollbar-radius: 999px;
  --scrollbar-min-thumb-size: 32px;
  --scrollbar-thumb-inset: 1px;
  --scrollbar-fade-in-duration: 150ms;
  --scrollbar-fade-out-duration: 1500ms;
  --scrollbar-fade-duration: var(--scrollbar-fade-out-duration);
  --scrollbar-active-timeout: 1000ms;
  --scrollbar-thumb-idle-bg: transparent;
  --scrollbar-thumb-idle-opacity: 0;
  --scrollbar-thumb-active-opacity: 1;
}
