[Desktop Entry]
Name=Luxury Yacht
Comment=Luxury Yacht - Kubernetes management application
Exec=/usr/local/bin/{{.AppShortName}}
Icon={{.AppShortName}}
Terminal=false
Type=Application
Categories=Utility;
