.ns-helm-table .helm-status {
  text-transform: capitalize;
}

.ns-helm-table .helm-status.status-deployed {
  color: var(--color-success);
}

.ns-helm-table .helm-status.status-pending-install,
.ns-helm-table .helm-status.status-pending-upgrade,
.ns-helm-table .helm-status.status-pending-rollback {
  color: var(--color-warning);
}

.ns-helm-table .helm-status.status-failed {
  color: var(--color-error);
}
