html {
  height: 100%;
  background: var(--color-bg);
  color: var(--color-text);
}

body {
  min-height: 100%;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-normal);
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--color-accent-hover);
}

code,
pre,
kbd {
  font-family: var(--font-family-base);
  font-size: var(--font-size-mono);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-bg);
}

::-webkit-scrollbar-corner {
  background: var(--scrollbar-corner-bg);
}
