#root {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

main {
  flex: 1;
}
