/* Themes */
/* Light theme must come first as that is the root theme. */
@import "./themes/light.css";
@import "./themes/dark.css";

/* Base styles */
@import "./base/globals.css";
@import "./base/layout.css";
@import "./base/reset.css";
/* Components */
@import "./components/badges.css";
@import "./components/buttons.css";
@import "./components/dropdowns.css";
@import "./components/inputs.css";
@import "./components/search-input.css";
@import "./components/tabs.css";
@import "./components/tooltips.css";
/* Overrides */
@import "./overrides/codemirror.css";
@import "./overrides/legacy-modals.css";
/* Tokens */
@import "./tokens/colors.css";
@import "./tokens/elevation.css";
@import "./tokens/spacing.css";
@import "./tokens/typography.css";
/* Utilities */
@import "./utilities/display.css";
@import "./utilities/focus.css";
@import "./utilities/motion.css";
