name: Release

on:
  workflow_dispatch:
    inputs:
      release:
        description: "Release (uncheck to build only)"
        required: false
        default: false
        type: boolean
  push:
    tags:
      - "v[1-9]*"

permissions:
  contents: write

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      go_version: ${{ steps.env.outputs.go_version }}
      node_version: ${{ steps.env.outputs.node_version }}
      wails_version: ${{ steps.env.outputs.wails_version }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get dependency versions
        id: env
        run: |
          GO_VERSION=$(grep '^go ' go.mod | awk '{print $2}')
          WAILS_VERSION=$(grep 'github.com/wailsapp/wails/v2' go.mod | awk '{print $2}')
          NODE_VERSION=$(cat .nvmrc | tr -d 'v')

          # Print to console
          echo "Go version: $GO_VERSION"
          echo "Wails version: $WAILS_VERSION"
          echo "Node version: $NODE_VERSION"

          # Send to outputs
          echo "go_version=$GO_VERSION" >> $GITHUB_OUTPUT
          echo "wails_version=$WAILS_VERSION" >> $GITHUB_OUTPUT
          echo "node_version=$NODE_VERSION" >> $GITHUB_OUTPUT

  test:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ needs.prepare.outputs.go_version }}
          cache: true

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ needs.prepare.outputs.node_version }}
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install Go dependencies
        run: |
          go install github.com/wailsapp/wails/v2/cmd/wails@${{ needs.prepare.outputs.wails_version }}
          go install github.com/magefile/mage@latest
          echo "$HOME/go/bin" >> $GITHUB_PATH

      - name: Run tests
        run: |
          # Run a build to ensure frontend/dist is generated
          mage build
          # Backend tests
          mage qc:vet test:backend
          # Frontend tests
          mage qc:lint qc:typecheck test:frontend

  build:
    needs:
      - prepare
      - test
    strategy:
      # Don't fail the whole build if one matrix job fails.
      fail-fast: false
      matrix:
        include:
          - runner: macos-latest
            goos: darwin
            targets: darwin/arm64,darwin/amd64
            artifact_name: artifacts-darwin
          - runner: windows-latest
            goos: windows
            targets: windows/amd64
            artifact_name: artifacts-windows-amd64
          - runner: windows-latest-arm
            goos: windows
            targets: windows/arm64
            artifact_name: artifacts-windows-arm64
          - runner: ubuntu-latest
            goos: linux
            targets: linux/amd64
            artifact_name: artifacts-linux-amd64
          - runner: ubuntu-latest-arm
            goos: linux
            targets: linux/arm64
            artifact_name: artifacts-linux-arm64

    runs-on: ${{ matrix.runner }}
    name: Build ${{ matrix.goos }} (${{ matrix.targets}})
    env:
      GO_VERSION: ${{ needs.prepare.outputs.go_version }}
      NODE_VERSION: ${{ needs.prepare.outputs.node_version }}
      WAILS_VERSION: ${{ needs.prepare.outputs.wails_version }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install Go dependencies
        run: |
          go install github.com/wailsapp/wails/v2/cmd/wails@${{ env.WAILS_VERSION }}
          go install github.com/magefile/mage@latest
          echo "$HOME/go/bin" >> $GITHUB_PATH

      - name: Set up macOS code signing
        if: matrix.goos == 'darwin'
        id: macos_signing
        uses: ./.github/actions/macos-signing
        with:
          macos_certificate: ${{ secrets.MACOS_CERTIFICATE }}
          macos_certificate_pwd: ${{ secrets.MACOS_CERTIFICATE_PWD }}

      - name: Install Linux dependencies
        if: matrix.goos == 'linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev rpm

      - name: Install Windows dependencies
        if: matrix.goos == 'windows'
        uses: ./.github/actions/install-nsis
        with:
          nsis-version: "3.10"

      - name: Create package for macOS (signed and notarized)
        if: matrix.goos == 'darwin'
        env:
          MACOS_SIGNING_IDENTITY: ${{ steps.macos_signing.outputs.macos_identity }}
          MACOS_KEYCHAIN_PATH: ${{ steps.macos_signing.outputs.keychain_path }}
          MACOS_APPLE_ID: ${{ secrets.APPLE_ID }}
          MACOS_APPLE_APP_PASSWORD: ${{ secrets.APPLE_APP_PASSWORD }}
          MACOS_APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        run: |
          mage package:signed

      - name: Create package for Linux
        if: matrix.goos == 'linux'
        run: |
          mage package:unsigned

      - name: Create package for Windows (unsigned)
        if: matrix.goos == 'windows'
        run: |
          mage package:unsigned

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.artifact_name }}
          path: build/artifacts/**

  release:
    if: ${{ github.event.inputs.release == 'true' || github.event_name == 'push' }}
    needs:
      - prepare
      - test
      - build
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.RELEASES_REPO_TOKEN }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ needs.prepare.outputs.go_version }}
          cache: true

      - name: Install mage
        run: |
          go install github.com/magefile/mage@latest
          echo "$HOME/go/bin" >> $GITHUB_PATH

      - name: Download all artifacts
        uses: actions/download-artifact@v7
        with:
          path: ./artifacts

      - name: Publish GitHub release
        run: |
          export GITHUB_RUN_NUMBER="${{ github.run_number }}"
          mage release
