Package: {{.AppShortName}}
Version: {{.DebVersion}}
Section: utils
Priority: optional
Architecture: {{.DebArch}}
Maintainer: Luxury Yacht <info@luxury-yacht.app>
Description: Luxury Yacht desktop application
